{% extends "base.html" %}
{% load markdown_extras %}

{% block title %}Все категории{% endblock title %}

{% block content %}
<h1>Категории</h1>
{% if user.is_authenticated %}
<div class="toolbar">
    <a class="button" href="{% url 'blog:new_category' %}"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
</div>
{% endif %}
{% if object_list.count > 0 %}
    {% for category in object_list %}
    <div>
        {% if category.parent is None %}
        <div class="blog-post-card">
            <h2><a href="{% url 'blog:category' category.pk %}">{{ category.caption }}</a></h2>
            <p class="preview">{{ category.description | markdown | safe }}</p>
            {% if category.childs.count > 0 %}
            <p><b>Подкатегории: </b>
                {% for subcategory in category.childs.all %}
                <a class="category button" href="{% url 'blog:category' subcategory.pk %}">{{subcategory.caption}}</a> 
                {% endfor %}
            </p>
            {% endif %}
            {% if user.is_authenticated %}
            <p class="category-bar">
                <a href="{% url 'blog:update_category' category.pk %}" class="button small"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="{% url 'blog:delete_category' category.pk %}" class="button small"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </p>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
<p>В даном разделе нет категорий</p>
{% endif %}
{% endblock content %}
