{% extends "base.html" %}
{% load markdown_extras %}

{% block title %}Все статьи{% endblock title %}

{% block content %}
<h1>Статьи</h1>
{% if user.is_authenticated %}
<div class="toolbar">
    <a class="button" href="{% url 'blog:new_article' %}"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
</div>
{% endif %}
{% if object_list.count > 0 %}
    {% for article in object_list %}
    <div>
        <article class="blog-post-card">
            <h2>{{ article.caption }}</h2>
            <p class="preview">{{ article.preview | markdown | safe }}</p>
            <p class="article-bar">
                <a href="{% url 'blog:article' article.pk %}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Читать</a>
                &#124;
                Категория: <a href="{% url 'blog:category' article.category.pk %}">{{article.category.caption}}</a>
                &#124;
                Дата публикации: {{article.public_dt|date:"l d F Y"}} г.
                {% if user.is_authenticated %}
                &#124;
                <a href="" class="button small"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="" class="button small"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                {% endif %}
            </p>
        </article>
    </div>
    {% endfor %}
{% else %}
<p>В даном разделе нет статей</p>
{% endif %}
{% endblock content %}
