{% extends "base.html" %}
{% load markdown_extras %}

{% block content %}
<h1>{{ article.caption }}</h1>
<div class="preview">{{ article.preview | markdown | safe }}</div>
<div class="article-bar">
    Дата публикации: {{article.public_dt|date:"l d F Y"}} г.
    &#124;
    Категория: <a href="{% url 'blog:category' article.category.pk %}">{{article.category.caption}}</a>
    {% if user.is_authenticated %}
    &#124;
    <a href="{% url 'blog:update_article' article.pk %}" class="button small"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <a href="" class="button small"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    {% endif %}
</div>
<article class="text">
    {{ article.text | markdown | safe }}
</article>
</div>
{% endblock content %}
