{% extends "base.html" %}

{% block content %}
<h1>Удаление категории</h1>
<form method="post" action="{% url 'blog:delete_category' %}">{% csrf_token %}
    <p>Вы уверены, что хотите удалить категорию "{{object.caption}}"?</p>
    <button type="submit">Удалить</button>
</form>
{% endblock content %}
