{% extends "base.html" %}
{% load markdown_extras %}

{% block content %}
<h1>Категория &#171;{{ category.caption }}&#187;</h1>
{% if not category.articles %}
<p>Здесь пока ничего нет. :(</p>
{% else %}
{% for article in category.articles.all %}
<h2>{{article.caption}}</h2>
<div class="preview">{{ article.preview | markdown | safe }}</div>
<div class="article-bar">
    Дата публикации: {{article.public_dt|date:"l d F Y"}} г.
    {% if user.is_authenticated %}
    &#124;
    <a href="{% url 'blog:update_article' article.pk %}" class="button small"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <a href="" class="button small"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    {% endif %}
</div>
{% endfor %}
{% endif %}

{% endblock content %}
