{% extends "base.html" %}

{% block content %}
<h1>Изменение категории</h1>
<form method="post" action="{% url 'blog:new_category' %}">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>
{% endblock content %}
