{% extends 'base.html' %}

{% block content %}
{% if error %}
    <div class="error">{{error}}</div>
{% endif %}
<form action="" method="post">{% csrf_token %}
    <p><label for="username">Имя пользователя</label></p>
    <p><input id="username" name="username" type="text"></p>
    <p><label for="password">Пароль</label></p>
    <p><input id="password" name="password" type="password"></p>
    <button type="submit">Войти</button>
</form>
{% endblock content %}