@font-face {
    font-family: 'Cousine';
    src: url('../fonts/Cousine/Cousine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cousine';
    src: url('../fonts/Cousine/Cousine-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cousine';
    src: url('../fonts/Cousine/Cousine-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cousine';
    src: url('../fonts/Cousine/Cousine-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}